<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla1-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabla1-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Tabla1Element extends Polymer.Element {
      static get is() { return 'tabla1-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla1-element'
          }
        };
      }
    }

    window.customElements.define(Tabla1Element.is, Tabla1Element);
  </script>
</dom-module>
