<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla1-element">
  <template>
    <style>
      :host {
        display: block;
      }
	  h2{
		text-align:center;
	  }
    </style>
    <h2>[[prop1]]</h2>
	<div class="filtro"><p>Filtrar:<input value="{{valorFiltrado::input}}" /></p></div>
	<table style="background-color:gray;" border="2" align="center">
		<tr>
			<th>DATE</th>
			<th>DESCRIPTION</th>
			<th>AMOUNT</th>
		</tr>	
		<template is='dom-repeat' items='[[itemArray]]' as="tablaFiltrada" filter="{{tablaFilter(valorFiltrado)}}">
			<tr>
				<td align="center">[[tablaFiltrada.date]]</td>
				<td>[[tablaFiltrada.desc]]</td>
				<td align="right">[[tablaFiltrada.amount]]</td>
			</tr>	
		</template>
	</table>
  </template>

  <script>
    /**
     * `tabla1-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Tabla1Element extends Polymer.Element {
      static get is() { return 'tabla1-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Transactions'
          },
		  itemArray: {
            type: Array,
            value() {
               return [
                {date: '01/04/2019', desc: 'Dato 1', amount: '1'},
				{date: '02/04/2019', desc: 'Dato 2', amount: '20'},
				{date: '03/04/2019', desc: 'Dato 3', amount: '100'},
				{date: '04/04/2019', desc: 'Dato 4', amount: '4000'},
				{date: '05/04/2019', desc: 'Dato 5', amount: '10000'},
              ]
            }
          }
        };
      }
	  //filter 
	  tablaFilter(string) {
			if (!string) {
			  return null;
			} else {
			  // return a filter function for the current search string
			  //string = string.toLowerCase();
			  return function(tablaFiltrada) {
				var first = tablaFiltrada.date; //.toLowerCase();
				var second = tablaFiltrada.desc; 
				var last = tablaFiltrada.amount; //.toLowerCase();
				return (first.indexOf(string.toUpperCase()) != -1 || second.indexOf(string.toUpperCase()) != -1 || last.indexOf(string.toUpperCase()) != -1);
			  };
			}
		}
    }

    window.customElements.define(Tabla1Element.is, Tabla1Element);
  </script>
</dom-module>
